@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 99.6%;
  --foreground: 240 10% 3.9%;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

