* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura total */
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Impede o overflow horizontal */
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0; /* Remover padding */
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timeline {
  padding: 20px;
  background-color: #f9f9f9;
}

timeline h2 {
  text-align: center;
  color: #10a3b4;
}

timeline-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

timeline-item {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

timeline-icon {
  font-size: 24px;
  position: absolute;
  left: -30px; /* Ajuste conforme necessário */
  top: 15px; /* Ajuste conforme necessário */
}

@media (max-width: 768px) {
  /* Ajustes apenas para telas menores que 768px */
  .timeline-item {
    padding: 10px;
  }

  .timeline-item h3 {
    font-size: 1.2rem;
  }

  .timeline-item p {
    font-size: 0.9rem;
  }
}
